doctype html
html
  head
    title= title
    // Linking the CSS, first the bootstrap then the custom style
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    block content